*{
    margin: 0;
    padding: 0;
}
.mainScreen{
    color: #fffd8f;
    background-image: url("../assets/Детские Обои 1.jpg");
}
.container{
    max-width: 1470px;
    padding: 20px;
}
.container.game{
    position: relative;
    background-color:  #fbf9f7;
}
.container.main{
    height: 100vh;
}
.field{
    max-width: 1000px;
    padding: 50px;
    margin: 0 auto;
    background-color: wheat;
    border-radius: 5px;
}


.tiles{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.tile{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    box-sizing: border-box;
    display: none;
}
.card-block{
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}
.back{
    display:block;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #6764e2;
    color: #FFF;
}
.back-button{
    position: absolute;
    top: 20px;
    width: 70px;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, sans-serif;

}
.back-button a {
    text-decoration: none;
    color: #382303;
}
.back-button a:hover {
    text-decoration: none;
    color: #1b78ff;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.menu-item{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
}
.button{


}
.btn{
    display: block;
    margin: 60px auto;
    background-color: #fffd8f;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: black;
    outline: none ;
}
.btn a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: black;
}
.btn:hover{
    background-color: red;
}
.footer{
    bottom: 0;
}
.rights{
    color: #040e04;
}

/* правила */


.rules-body{
    background-color: #f5f5e3;
}

.container-rules{
    width: 50%;
    height: 50%;
    margin: 100px auto 0;
}
.rules-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.rules-subtitle{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}
.rules-item{
    border-radius: 20px;
    border:3px solid #1b78ff;
    padding: 30px;
}
.back-icon{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}
.back-icon svg path{
    fill: #1b78ff;
}